@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icons/icomoon.eot?fbdgvb');
    src:url('../fonts/icons/icomoon.eot?fbdgvb#iefix') format('embedded-opentype'),
        url('../fonts/icons/icomoon.ttf?fbdgvb') format('truetype'),
        url('../fonts/icons/icomoon.woff?fbdgvb') format('woff'),
        url('../fonts/icons/icomoon.svg?fbdgvb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.icon-dots-three:before {
    content: "\e932";
}
.icon-logout:before {
    content: "\e92c";
}
.icon-locked:before {
    content: "\e929";
}
.icon-user:before {
    content: "\e92a";
}
.icon-directions_walk:before {
    content: "\e917";
}
.icon-camera:before {
    content: "\e930";
}
.icon-check:before {
    content: "\e914";
}
.icon-exclamation-circle:before {
    content: "\e92d";
}
.icon-exclamation-triangle:before {
    content: "\e92e";
}
.icon-house:before {
    content: "\e92b";
}
.icon-task:before {
    content: "\e910";
}
.icon-mail:before {
    content: "\e931";
}
.icon-notice:before {
    content: "\e903";
}
.icon-indice2 .path1:before {
    content: "\e918";
    color: rgb(154, 120, 171);
}
.icon-indice2 .path2:before {
    content: "\e919";
    margin-left: -1.0419921875em;
    color: rgb(255, 255, 255);
}
.icon-indice2 .path3:before {
    content: "\e91a";
    margin-left: -1.0419921875em;
    color: rgb(255, 255, 255);
}
.icon-task2 .path1:before {
    content: "\e91b";
    color: rgb(154, 120, 171);
}
.icon-task2 .path2:before {
    content: "\e922";
    margin-left: -1.0419921875em;
    color: rgb(255, 255, 255);
}
.icon-task2 .path3:before {
    content: "\e923";
    margin-left: -1.0419921875em;
    color: rgb(255, 255, 255);
}
.icon-task2 .path4:before {
    content: "\e924";
    margin-left: -1.0419921875em;
    color: rgb(255, 255, 255);
}
.icon-home:before {
    content: "\e925";
}
.icon-question .path1:before {
    content: "\e926";
    color: rgb(154, 120, 171);
}
.icon-question .path2:before {
    content: "\e927";
    margin-left: -1.0419921875em;
    color: rgb(255, 255, 255);
}
.icon-question .path3:before {
    content: "\e928";
    margin-left: -1.0419921875em;
    color: rgb(255, 255, 255);
}
.icon-heart:before {
    content: "\e91c";
}
.icon-important:before {
    content: "\e91d";
}
.icon-like:before {
    content: "\e91e";
}
.icon-oval:before {
    content: "\e91f";
}
.icon-walk:before {
    content: "\e920";
}
.icon-star:before {
    content: "\e921";
}
.icon-level:before {
    content: "\e913";
}
.icon-bool:before {
    content: "\e90d";
}
.icon-data:before {
    content: "\e901";
}
.icon-add:before {
    content: "\e900";
}
.icon-alert:before {
    content: "\e90a";
}
.icon-arrows:before {
    content: "\e902";
}
.icon-bubble:before {
    content: "\e908";
}
.icon-burger:before {
    content: "\e92f";
}
.icon-calendar:before {
    content: "\e90b";
}
.icon-checkbox:before {
    content: "\e90c";
}
.icon-clone:before {
    content: "\e904";
}
.icon-close:before {
    content: "\e907";
}
.icon-editer:before {
    content: "\e90e";
}
.icon-logo-helper:before {
    content: "\e90f";
}
.icon-select:before {
    content: "\e916";
}
.icon-search:before {
    content: "\e905";
}
.icon-text:before {
    content: "\e915";
}
.icon-trash:before {
    content: "\e906";
}
.icon-angle-down:before {
    content: "\e911";
}
.icon-file:before {
    content: "\e909";
}
.icon-arrow-left:before {
    content: "\e912";
}

