// COLORS: Backgrounds
$bgGrey: #F0F0F0;
$bgPurple: #49344D;
$bgPurple2: #352A39;
$fluxInformationColor: #9973A2;
$fluxImportantColor: #D9455F;
$fluxTaskColor: #E66F58;

// SIZES
$headerHeight: 68px;
$fixedBarHeight : 60px;
$popinProtocolewidth: 1260px;
$popinAddProtocolewidth: 535px;
$fluxNavbarHeight: 68px;
$fluxNavbarHeightMobile: 45px;
$sidebarProtocol: 280px;