.react-autosuggest {
  $fontSize: 18px;
  $borderColor: #aaa;
  $borderRadius: 4px;

  position: relative;

  input {

    &[aria-expanded="true"] {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:focus {
      outline: none;
    }
  }

  &__suggestions {
    position: absolute;
    top: 51px;
    width: 350px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid $borderColor;
    background-color: #fff;
    font-size: $fontSize;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    z-index: 2;

    &-section {
      &:first-child {
        .react-autosuggest__suggestions-section-name {
          border-top: 0;
        }
      }

      &-name {
        padding: 10px 0 0 10px;
        font-size: 12px;
        text-transform: uppercase;
        color: #777;
        border-top: 1px dashed #ccc;
      }

      &-suggestions {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
    }
  }

  &__suggestion {
    cursor: pointer;
    padding: 5px 10px;

    div.avatar {
      background: #8C6699;
      font-family: 'helvetica_neue_thin';
      font-size: 18px;
      color: #CEA1DD;
      height: 45px;
      width: 45px;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      line-height: 45px;
      margin-left: 15px;
      display: inline-block;

      img {
        width: 45px;
        height: 45px;
        margin-top: -4px;
      }
    }

    span {
      font-family: 'helvetica_neue_light';
      font-size: 16px;
      color: #5E5E5E;
      display: inline-block;
      line-height: 68px;
      margin-left: 15px;
      margin-bottom: 0;
    }

    &--focused {
      background-color: #ddd;
    }
  }
}